.container {
    display: flex;
    justify-content: space-evenly;
    padding: 3rem;
    border: 1px solid rgb(238, 195, 155);
}
.navbar-nav {
    display: flex;
    list-style-type: none;
    padding: 0;
  }
  
  .nav-item {
    margin-right: 10px;
  }
  
  .nav-item:last-child {
    margin-right: 0;
  }
  button{
    margin: 8px 8px 8px 8px;
  }