
<div class="container">
    @for(book of books;track $index){
    <div class="field">
        <div class="name">
            <div class="form-name">
                <div class="book-name">{{ book?.name }}</div>
                <div>-</div>
                <div>{{ book?.year }}</div>
            </div>
        </div>

        <div>{{ book?.author}}</div>
        <div class="form-star">{{ book?.star}}</div>
        <!-- <button mat-raised-button color="primary" >Sepete Ekle</button> -->

        <!-- <button mat-fab extended (click)="addToCart(book)">
            <mat-icon>plus</mat-icon>
            Sepete Ekle
          </button> -->
          <button (click)="addToCart(book)" mat-mini-fab color="primary">
            <mat-icon>shopping_cart</mat-icon>
          </button>
    </div>


    }
</div>