<!-- <div class="container">
    <div class="left-side">
        <img src = "/src/assets/login.jpg" width="100%" >
    </div>
    <div class="right-side">
        <h3>Hello</h3>
        <p>Welcome back tou habe been missed</p>

        <form  [formGroup] = "loginForm" class = "field-form">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput  
                     placeholder="Email"  formControlName = "email">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input type="email" matInput 
                       placeholder="Password" formControlName = "password" >
            </mat-form-field>

            <button mat-raised-button color="warn">Warn</button>
            
            <p class = "register-text">Register</p>

        </form>



    </div>
</div> -->