<!-- <app-todo-list></app-todo-list> -->
<div style="text-align: center;">


<h3>Todo Input</h3>
<div class="header">
  <input type="text" [(ngModel)]="newTaskInput">
  <button (click)="Add()">Add New Task</button>
</div>

<div>
  <h3>TodoList</h3>
<div class="buttons">
  <button>All</button>
  <button>Done</button>
  <button>Todo</button>
</div>
<div class="tasks" >
  <div class="task" *ngFor="let task of tasks">
    <span>{{ task }}</span>
    <div>
      <input type="checkbox">
      <button mat-button (click)="editTask(task)">
        <mat-icon>edit</mat-icon>
      </button>
    
    <button mat-button (click)="Delete(task)">
      <mat-icon>delete</mat-icon>
      Delete
    </button>
    
    </div> 
   
  </div>
</div>
</div>
</div>