<div style="color: white;">
    <div id="first" class="box" style=" background-color: #294f33">
        <div style=" height: 150%; margin-top: 9%;">
            <h1 class="center" style="font-size: 45px;">Sign Up</h1>
            <h4 class="center">Welcome!!</h4><br>
            <div class="example-container">
                <form  [formGroup] = "registerForm">
                <mat-form-field class="center"> 
                  <mat-label>First Name</mat-label>
                  <input matInput formControlName="firstName">
                  @if(getformNameInvalid('firstName')){
                  <mat-error>{{ getErrorMessage('firstName') }}</mat-error>
                }
                </mat-form-field>
              <br>
              <mat-form-field style="border-radius: 12px;"  class="center">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName">
                @if(getformNameInvalid('lastName')){
                  <mat-error>{{ getErrorMessage('lastName') }}</mat-error>
                }
              </mat-form-field><br>
              <mat-form-field style="border-radius: 12px;"  class="center">
                <mat-label>Email Address</mat-label>
                <input formControlName="email" matInput>
                @if(getformNameInvalid('email')){
                  <mat-error>{{ getErrorMessage('email') }}</mat-error>
                }
              </mat-form-field><br>
              <mat-form-field  style="border-radius: 12px;"  class="center">
                <mat-label>Choose a date</mat-label>
                <input formControlName="date" matInput [matDatepicker]="picker">
                @if(getformNameInvalid('date')){
                  <mat-error>{{ getErrorMessage('date') }}</mat-error>
                }
                <mat-hint >MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <br>
              <mat-form-field style="border-radius: 12px;"  class="center">
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                @if(getformNameInvalid('password')){
                  <mat-error>{{ getErrorMessage('password') }}</mat-error>
                }
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon style="color: black;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
               
              </mat-form-field><br>
              <mat-form-field style="border-radius: 12px;"  class="center">
                <mat-label>Confirm Password</mat-label>
                <input formControlName="rePassword" matInput [type]="hide ? 'password' : 'text'">
                @if(getformNameInvalid('rePassword')){
                  <mat-error>{{ getErrorMessage('rePassword') }}</mat-error>
                }
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon style="color: black;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
                  
            </form>
              </div>
    <br><br>
      
             <div class="button-container">
    <button (click)="register()" class="left" style="border-radius: 23px; margin-left: 30%; background-color: #f9c0a7; width: 120px; height: 50px;">Sign In</button>
    <p style="margin: 0 10px;">OR</p>
    <button style="border-radius: 23px;margin-left: 12px; background-color: #f9c0a7; width: 180px; height: 50px;">Sign In With Google</button>
</div><br>
<hr style="color: #f9c0a7;">
              <br><div >
              <p  style="display: flex; justify-content: center;">Already have an account <a style="margin-left: 10px; color: #f9c0a7;" href="">Go to Login Page</a></p>
                </div></div>
    </div>
    <div id="second" class="box">
        <img style="float: left; width: 100%;" src="/assets/login.jpg" alt="resim">
    </div>
</div>
